/*
 Dorra front-end library v1.0
 Created by Hamdaoui wassim

*/



*{
  box-sizing: border-box;
  font-family: "Arimo",sans-serif;
  color:#576574;
  font-size:16px;
  
}
html,
body{
width:100%;
padding: 0;
margin:0;
}
.dcontainer{
width:100%;
padding:0;
margin:0;
}
.drow{
width:100%;
padding:20px;
margin:0;
    
}
.drow p{
  
  font-family: "Arimo",sans-serif;
  
  
}
/* DORRA FRAMEWORK HEADING */

h1{font-size:40px;}
h2{font-size:34px;}
h3{font-size:28px;}
h4{font-size:22px;}
h5{font-size:16px;}
h6{font-size:12px;}

/* DORRA FRAMEWORK MENU */


.dmenu{
  overflow: hidden;
  padding: 0;
  height:60px;
  width:100%;
  background-color:#7ed6df;

}
.dmenu ul{
  padding: 0;
}
.dmenu ul li{
  margin:0;
  line-height: 30px;
  display: table-cell;
  background-color:#7ed6df;
}
.dmenu ul .dlist-item{
  list-style-type: none;
}
.dmenu ul .dlist-item a{
  padding:25px;
  background-color:#7ed6df;
  color:white;
  text-decoration:none;
  margin:0px;
  
}
.dmenu ul .dlist-item a:hover{
  padding:25px;
  background-color:#22a6b3;
  color:white;
  text-decoration:none;
  margin:0px;
}

