/*
 Dorra front-end library v1.0
 Created by Hamdaoui wassim

*/
@font-face {
   

   font-family: "Arimo";
   src: url(../fonts/Arimo/Arimo-Regular.ttf);
    font-family: "Arimo bold";
   src: url(../fonts/Arimo/Arimo-Bold.ttf);
    font-family: "Arimo bold italic";
   src: url(../fonts/Arimo/Arimo-BoldItalic.ttf);
    font-family: "Arimo italic";
   src: url(../fonts/arimo/Arimo-Italic.ttf);
    
    




}


*{
  box-sizing: border-box;
  font-family: "Arimo",sans-serif;
  color:#576574;
  font-size:16px;
  
}
html,
body{
  font-family: "Arimo";
width:100%;
padding: 0;
margin:0;
}
.dcontainer{
font-family: "Arimo";
font-size: 16px;
width:100%;
padding:0;
margin:0;
}
.drow{
font-family: "Arimo bold";
width:100%;
padding:20px;
margin:0;
    
}

